@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.active {
  border-bottom: 2px solid rgba(0, 0, 255, 0.76);
  color: rgba(0, 0, 255, 0.486);
}
